<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CursoLeroLero</servlet-name>
        <servlet-class>Controller.CursoLeroLero</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAluno</servlet-name>
        <servlet-class>Controller.ServletAluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInstrutor</servlet-name>
        <servlet-class>Controller.ServletInstrutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdministrador</servlet-name>
        <servlet-class>Controller.ServletAdministrador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletTurma</servlet-name>
        <servlet-class>Controller.ServletTurma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCurso</servlet-name>
        <servlet-class>Controller.ServletCurso</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CursoLeroLero</servlet-name>
        <url-pattern>/CursoLeroLero</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAluno</servlet-name>
        <url-pattern>/ServletAluno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInstrutor</servlet-name>
        <url-pattern>/ServletInstrutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdministrador</servlet-name>
        <url-pattern>/ServletAdministrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletTurma</servlet-name>
        <url-pattern>/ServletTurma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCurso</servlet-name>
        <url-pattern>/ServletCurso</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
